{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% block header}

{% endblock %}

<div>Bienvenue sur le site de création de carte de visite </div>

{% block footer %}

{% endblock %}

{% endblock %}
